  body {
  	padding-top: 70px;
  }

  /*pageContents*/
  #pageContents {
      padding: 10px 20px;
      border: 1px solid #ccc;
      border-top: none;
      border-radius: 0 0 4px 4px;
      margin-bottom: 20px;
      font-size: 16px;
      line-height: 1.6em;
  }
  
  /* Special styles for when the user is logged in */
  body.logged_in .logged_out_only {
  	display: none;
  }

  /* on the start page */  
  .jumbotron {
  	padding: 48px;
  }

  @media screen and (max-width: 991px) {

	/* Off Canvas */
	.row-offcanvas {
      position: relative;
      -webkit-transition: all .25s ease-out;
           -o-transition: all .25s ease-out;
              transition: all .25s ease-out;
    }

    .row-offcanvas-right {
      right: 0;
    }

    .row-offcanvas-left {
      left: 0;
    }

    .row-offcanvas-right
    .sidebar-offcanvas {
      right: -75%; /* 6 columns */
    }

    .row-offcanvas-left
    .sidebar-offcanvas {
      left: -75%; /* 6 columns */
    }

    .row-offcanvas-right.active {
      right: 75%; /* 6 columns */
    }

    .row-offcanvas-left.active {
      left: 75%; /* 6 columns */
    }

    .sidebar-offcanvas {
      position: absolute;
      top: 0;
      width: 75%; /* 6 columns */
    }

    #toggle_sidebar {
  		padding-left: 0;
  	}
  	
  	/* hide pills (tabs) on small screens */
  	#subtoc {
  		display: none;
  	}
    /*Close the page contents container at the top when no subnav pills are displayed*/
    #pageContents {
    	border-top: 1px solid #ccc;
	}
  	
  	/* Make some room in the header bar*/
  	#tools .btn {
  		padding-right: 3px;
  	}
    #toolsRow {
		margin-right: 0!important;
    }
    
  }
  
  @media screen and (max-width: 371px) {    
  	/* Make more room in the header bar*/
	#navbarContainer {
    	padding-right: 0;
    	padding-left: 0;
    }
  }


  /*tables*/
  #pageContents table td {
  	padding: 0.5em;
  }

  /*icons*/
  .glyphicon-question-sign {
  	padding: 1em;
  }

  /*images*/
  .mintmodimage {
  	width: 50%;
  	max-width: 400px;
  }

  /*social media*/
  #social-media-links li {
  	float: left;
  	padding: 0.5em;
  }

  /*Boxes*/
  .info, .exmp, .aufgabe {
  	padding-top: 1em;
  }

  /* Form styles */
  div.panel-body input {
      background: white;
      border: 1px dashed grey;
      margin-bottom: 1em;
      padding-left: 5px;
  }
  
  /*input fields in forms*/
  .form-group div {
  	margin-bottom: 1em;
  }
  /*
  Extra bottom margin for toggle buttons,
  but only if not in lists.
  */
  .btn {
  	margin-bottom: 1em;
  }
  ol .btn {
  	margin-bottom: 0;
  }
  /* end form styles*/

	  /*Extra styles for tooltips*/
      .tooltip.bottom .tooltip-arrow {
          border-bottom-color: #ccc;
      }
      .tooltip-inner {
          background-color: #999;
      }
  	/*end tooltip*/

      /* Tools */
      #navbar {
          margin-bottom: 0px;
          border-radius: 0;
      }
      
      #toolsRow {
	      margin-left: 0;
	      margin-top: 10px; 
	      margin-right: 1em;
      }

      #tools .btn-link {
  		color: #337ab7;
      }

  	/* TOC */
      #toc h3 {
      	margin-top: 0.25em;
      }
      #toc ul {
           list-style-type: none;
      }
      #toc .entryText {
  		padding-left: 1em;
  		font-family: Helvetica, sans-serif;
  		color: #337ab7;
      }

      .panel-body > ul:first-child {
      	padding-left: 0;
      }
      .module-panel ul > li > ul, #legend > ul {
        padding-left: 1em;
      }

      .selectedEntry {
      	font-weight: bold;
      }
      #subtoc {
        padding: 0;
      }
      #subtoc .nav {
        border: 1px solid #ccc;
        padding: 6px;
      }
      #subtoc .subtoc-prev, #subtoc .subtoc-next {
        font-size:1.4em;
      }
  /*
      #toc li {
          list-style-type: none;
          float: left;
      }
      #toc li {
          padding: 2px;
      }
      #toc ul.panel > li {
          width: 100%;
      }
      #toc ul.panel li.lastFromPanel {
          clear: both;
      }
  */
      #legende ul.panel li div.glyphicon {
          padding-right: 5px;
      }
      .status1 {
  	    color: #55aadd;
      }
      .status2 {
  	    color: #0055aa;
      }
      .status3 {
  	    color: #000055;
      }


  /*MathJax override wrap settings*/
  .mjx-chtml {
  	white-space: normal!important;
  }
