*~
__pycache__/
*.py[cod]
output/
mathev4test/
mathev4release/
tu9onlinekurstest/
physcourse/
tu9onlinekursrelease/
orgtu9test/
orgtu9kurs/
_tmp/
build
conversion.log
preprotest/
bincotest/
/.project
/.pydevproject
/.gitignore
settings.json
veSettings.js

#virtual environment
venv/

#mac os x
.DS_Store

#editor directories
.idea/
*.geany

#node modules
node_modules/
*.log

#yarn lockfile
yarn.lock

#bower components
bower_components/

#selenium / phantomJS browser log
ghostdriver.log

# old files, still on some local clones
src/precss
src/ttm-original

#test files
src/test/files/test_ttm_output.html
no_existing.file

#coverage files
.coverage*
htmlcov/
coverage-js/

#gitlab runner files
cache/
builds/

#django local db
src/server/veundmint/db.sqlite3

#gulp ignores
.sass-cache
.publish
public
Desktop.ini
node_modules
**/generated/_icons.sass
npm-debug.log

#kdev files
.kdev4/
*.kdev4
*.kate-swp

#django
#localdb
db.sqlite3

#eclipse
.settings/

# doxygen
doc

# need to ignore submodules, as different users may choose different software
.gitmodules
content_submodule

