*~
__pycache__/
*.py[cod]
output/
mathev4test/
mathev4release/
tu9onlinekurstest/
physcourse/
tu9onlinekursrelease/
orgtu9test/
orgtu9kurs/
_tmp/
conversion.log
preprotest/
bincotest/
/.project
/.pydevproject
/.gitignore

#virtual environment
venv/

#mac os x
.DS_Store

#editor directories
.idea/

#node modules
node_modules/

#selenium / phantomJS browser log
ghostdriver.log
