colorama==0.3.7
coverage==4.2
defusedxml==0.4.1
Django==1.10
django-allauth==0.28.0
-e git+https://github.com/edmorley/django-cors-middleware.git@e86adc11032a5c42a9177e8119ecaca9f59954b3#egg=django_cors_middleware
django-debug-toolbar==1.6
django-filter==0.13.0
django-rest-auth==0.8.2
djangorestframework==3.4.1
djangorestframework-jwt==1.8.0
gitdb==0.6.4
GitPython==2.0.6
glob2==0.4.1
green==2.5.1
html5lib==0.9999999
lxml==3.6.0
Markdown==2.6.6
mysqlclient==1.3.7
oauthlib==2.0.0
PyJWT==1.4.2
PyMySQL==0.7.6
python-termstyle==0.1.10
python3-openid==3.0.10
pytidylib==0.2.4
requests==2.12.1
requests-oauthlib==0.7.0
selenium==2.53.6
simplejson==3.8.2
six==1.10.0
smmap==0.9.0
sqlparse==0.2.2
Unidecode==0.4.19
