<script>
var isTest = false;
var testFinished = true;
var FVAR = new Array();
FVAR.push("CounterDummy");
var MVAR = new Array();
var SOLUTION_TRUE = 1; var SOLUTION_FALSE = 2; var SOLUTION_NEUTRAL = 3;
var QCOLOR_TRUE = "#44FF33"; var QCOLOR_FALSE = "#F0A4A4"; var QCOLOR_NEUTRAL = "#E0E0E0";
var objScormApi = null;
var doScorm = 0;
var viewmodel;
var activeinputfieldid = "";
var activetooltip = null;
var activefieldid = "";
var sendcounter = 0;
var intersiteactive = false;
var intersiteobj = createIntersiteObj();
var intersitelinks = false;
var localStoragePresent = false;
var SITE_ID = "(unknown)";
var SITE_UXID = "(unknown)";
var SITE_PULL = 0;
var STYLEBLUE = "0";
var STYLERED = "1";
var STYLEGREEN = "2";
var STYLEGREY = "3";
var animationSpeed = 250;
var timerMillis = 250;
var timerActive = false;
var timerVar = null;
var timerColors = new Array();
var timerIterator = 0;

// <JSCRIPTPRELOADTAG>

function loadHandler() {
  globalloadHandler("");
}

function unloadHandler() {
  globalunloadHandler();
}

</script>

<!-- i18n start -->
<script>
    $.i18n.debug = true;

    // set to 'de' if html:lang is missing        
    lang = $( 'html' ).attr( 'lang' );
    if ( !lang ) {
        lang = 'de';
         $( 'html' ).attr( 'lang' ) = lang;
    }
    
    /* A convenience function to make things shorter */
    l = function( key ) {
        return $.i18n( key );
    }
    
</script>
<!-- i18n end -->

