<p>
<center>
<b>Auswahl des Farbschemas für den Onlinekurs</b><br />
<ul style="width:75%;list-style-type:none;columns:4;-webkit-columns:4;-moz-columns:4">
<li style="padding:20px;background-color:rgba(41,100,255,1)"><center><button class="stdbutton" type="button" onclick="selectColor(STYLEBLUE);">Blaues Schema</button></center></li>
<li style="padding:20px;background-color:rgba(255,41,100,1)"><center><button class="stdbutton" type="button" onclick="selectColor(STYLERED);">Rotes Schema</button></center></li>
<li style="padding:20px;background-color:rgba(41,255,100,1)"><center><button class="stdbutton" type="button" onclick="selectColor(STYLEGREEN);">Grünes Schema</button></center></li>
<li style="padding:20px;background-color:rgba(100,100,100,1)"><center><button class="stdbutton" type="button" onclick="selectColor(STYLEGREY);">Graues Schema</button></center></li>
</ul>
</center>
</p>

<br /><br />

<p>
<center>Auswahl der mathematischen Notation</center><br />
<ul style="list-style-type:none">
  <li>
  <button type="button" class="stdbutton" onclick="selectVariant('std');">Diese Notation festlegen</button> &nbsp;
  <a href="https://de.wikipedia.org/wiki/DIN_1302">DIN 1302</a> (Schulbuchnotation)<br />
  \\(\\displaystyle
  ]a;b[\\ , \\ \\mathbb N =\\lbrace 1;2;3;\\ldots\\rbrace \\ , \\ P=(a;b;c)\\ ,\\ \\vec{x}= \\left(\\begin{array}{c} 1\\\\2  \\end{array}\\right) \\ ,\\ \\sqrt2 =1,414\\ldots
  \\)
  </li>
  <li>
  <button type="button" class="stdbutton" onclick="selectVariant('unotation');">Diese Notation festlegen</button> &nbsp;
  Alternative Notation, die in vielen technischen Studiengängen eingesetzt wird<br />
  \\(\\displaystyle
  (a,b)\\ , \\ \\mathbb N =\\lbrace 1,2,3,\\ldots\\rbrace \\ , \\ P=(a,b,c)\\ ,\\ \\vec{x}= \\left(\\begin{array}{c} 1\\\\2  \\end{array}\\right) \\ ,\\ \\sqrt2 =1.414\\ldots
  \\)
  </li>
</ul>
</p>
<p>
<br /><br />
<center>
<button type="button" class="stdbutton" onclick="toggle_settings();">Zurück zum Kurs</button>
</center>
</p>
