<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="utf-8">
	<meta http-equiv="expires" content="0"/>
	<meta id="meta-charset" http-equiv="content-type" content="text/html; charset=utf-8"/>
    <!--touch zooming-->
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Onlinebrückenkurs Mathematik</title>

    <!--Bootstrap-->
    <link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap-theme.css" />
    <script src="../jquery-3.1.0.min.js" type="text/javascript"></script>
    <script src="../bootstrap/js/bootstrap.js" type="text/javascript"></script>

    <style type="text/css">
    body {
		background-color: #88a5c5;
		padding: 1em 4em 4em 2em;
		background-image: url("images/bgimage.jpg");
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-position: bottom left;
    }
    div.page-header{
    	margin-top: 10px;
    }
	#pageContents {
		background-color: white;
		padding-top: 2em;
	    border-radius: 4px;
	    margin: auto;

	}
	p {
	    padding-bottom: 1em;
	}
	.btn {
		margin-top: 1em;
	}
	</style>

</head>
<body>
	<div class="container" id="pageContents">
		<div class="row page-header">
			<div class="col-sm-8 col-sm-offset-2">
				<h1>Math for Refugees<br/>
				<small>Welcome to our course! Willkommen zum Kurs!</small>
				</h1>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-8 col-sm-offset-2">
				<p>
				This course covers school mathematics as required for starting a scientific or technical career at a German university.</p>
				<p>
				You will find a complete course in German and the first chapters of the course in English. Try it out and give us feedback!
				</p>

				<p><strong>
				Please do not use the LOGIN- and REGISTER-buttons.</strong>
				You can use and work through the course without
				login! The login doesn't work at present.
				</p>
			</div>
		</div>

		<div class="row" id="languageChooser">
			<div class="col-sm-4 text-center col-sm-offset-2" >
				<div class="jumbotron">
			        <big>Mathematik-Br&uuml;ckenkurs auf Deutsch.</big>
			        <br/>
			        <a href="html/de/index.html" class="btn btn-primary btn-lg">Alle Kapitel.</a>
		        </div>
			</div>
			<div class="col-sm-4 text-center">
				<div class="jumbotron">
			        <big>Preparatory Mathematics Course.</big>
			        <br/>
			        <a href="html/en/index.html" class="btn btn-primary btn-lg">The first chapters only.</a>
		        </div>
			</div>
		</div>

	</div>
</html>
