
body
{
  max-width: 1000px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", Verdana, Arial, Helvetica , sans-serif;
  font-size: 16px;
  padding: 0px;
  margin: 0px;
  height: 100%;  
}

input
{
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", Verdana, Arial, Helvetica , sans-serif;
  font-size: 16px;
  height: 100%;  
}

button
{
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", Verdana, Arial, Helvetica , sans-serif;
  font-size: 16px;
  height: 100%;  
}

td {
  font-size: 16px;
}

hr
{
  display: none;
}

#fixed,
#notfixed
{
  position: relative;
  width: 100%;
  max-width: 1000px;
}

#fixed
{
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 1;
}
a
{
  font:  inherit;
  color: inherit;
  text-decoration: none;
}

.clear
{
  clear:    both;
  height:   0px;
  overflow: hidden;
}

#editor {
  position: relative;
  width: 600px;
  height: 400px;
}


/* Progress-Bar styling mit Browserweichen */
progress {  
  background-color: #F0F0F0;  
  border: 1;  
  height: 11px; 
  width: 90%;
}  

/* Firefox */
progress::-moz-progress-bar {
        background-image: -moz-linear-gradient(
                center bottom,
                rgb(43,194,123) 37%,
                rgb(84,240,124) 69%
        );
}
 
/* Chrome */
progress::-webkit-progress-value {
        background-image: -webkit-gradient(
                linear,
                left bottom,
                left top,
                color-stop(0, rgb(43,194,123)),
                color-stop(1, rgb(84,240,124))
        );
        background-image: -webkit-linear-gradient(
                center bottom,
                rgb(43,194,123) 37%,
                rgb(84,240,124) 69%
        );
}
 
/* Polyfill */
progress[aria-valuenow]:before {
        background-image: -moz-linear-gradient(
                center bottom,
                rgb(43,194,123) 37%,
                rgb(84,240,124) 69%
        );
        background-image: -ms-linear-gradient(
                center bottom,
                rgb(43,194,123) 37%,
                rgb(84,240,124) 69%
        );
        background-image: -o-linear-gradient(
                center bottom,
                rgb(43,194,123) 37%,
                rgb(84,240,124) 69%
        );
}




.searchtable {
     font-size: 14px;
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
}

.head
{
  background-color: #4050A5;
	color: #FFFFFF;
	width: 100%;
	font-weight: bold;
	padding: 0.2em 0px;
	border-bottom: 2px solid black;
}

#footer
{
  position: fixed;
  bottom: 0px;
  text-align: center;
  width: 100%;
  font-size: 10px;
  max-width: 1000px;
  color: #202070;
  background-color: #ABD0DC;
  padding: 0.2em 0px;
}

.headleft,
.headright,
#footerleft,
#footerright
{
  overflow: visible;
  width: 0px;
  white-space: nowrap;
}

.headleft,
#footerleft
{
  float: left;
  text-align: left;
  direction: ltr;
  margin-left: 15px;
}

.headright,
#footerright
{
  float: right;
  text-align: right;
  direction: rtl;
  margin-right: 15px;
}

.headmiddle,
#footermiddle
{
  text-align: center;
  font-size: 120%;
  font-family: Arial, Helvetica, Verdana, sans-serif;
}
.toc
{
  position:         fixed;
  width:            200px;
  height:           100%;
  padding:          1em 10px;
  margin:           0px;
  margin-top:       0px;
  color:            #000000;
  background-color: #CBDFDF;
}

.toccaption
{
  font-size: 110%;
  font-weight: bold;
}

.homelink
{
  float: right;
  font-weight: bold;
}

.toc ul
{
  margin:  0px;
  padding: 0px;
}

.toc ul.level1a
{
  margin-top:       10px;
  padding-left:     5px;
  list-style-type:  none;
  font-weight:      bold;
  font-size:        14px;
  line-height:      20px;
}
.toc ul.level1b
{
  margin-top:       10px;
  padding-left:     5px;
  list-style-type:  none;
  font-weight:      bold;
  font-size:        15px;
  line-height:      25px;
}
.toc ul.level2
{
  margin-bottom:    10px;
  padding-left:     10px;
  list-style-type:  none;
  font-weight:      normal;
  font-size:        11px;
  line-height:      13px;
}
.toc ul.level3
{
  margin-bottom:    5px;
  margin-left: 1em;
  padding-top:      0px;
  padding-left:     15px;
  list-style-type:  disc;
  font-weight:      normal;
  font-size:        11px;
}
.toc li.selected
{
  font-weight:      bold;
  color: #4080A0;
}

.toc li.notselected
{
  font-weight:      normal;
  color: #000000;
}

.toc li.bselected
{
  font-weight:      normal;
  color: #D02030;
}

.toc li.bnotselected
{
  font-weight:      normal;
  color: #202070;
}

tocnav {
  background-color: #BFBFBF;
  border: 1px solid #404040;
  border-radius: 4px;
  box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.055);
  color: #000000;
  display: block;
  margin: 8px 12px 8px 12px;
  overflow: hidden;
  width: 92%; 
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 400;
  font-size: 15px;
  
}

  tocnav ul {
    margin: 0;
    padding: 0;
  }

    tocnav ul li {
      display: inline-block;
      list-style-type: none;
      
      -webkit-transition: all 0.2s;
        -moz-transition: all 0.2s;
        -ms-transition: all 0.2s;
        -o-transition: all 0.2s;
        transition: all 0.2s; 
    }
      
      tocnav > ul > li > a > .caret,
	  tocnav > ul > li > div ul > li > a > .caret {
        border-top: 4px solid #aaa;
        border-right: 4px solid transparent;
        border-left: 4px solid transparent;
        content: "";
        display: inline-block;
        height: 0;
        width: 0;
        vertical-align: middle;
  
        -webkit-transition: color 0.1s linear;
     	  -moz-transition: color 0.1s linear;
       	-o-transition: color 0.1s linear;
          transition: color 0.1s linear; 
      }
	  
	  	tocnav > ul > li > div ul > li > a > .caret {
			border-bottom: 4px solid transparent;
			border-top: 4px solid transparent;
			border-right: 4px solid transparent;
			border-left: 4px solid #f2f2f2;
			margin: 0 0 0 8px;
		}

      tocnav > ul > li > a {
        color: #000000;
        display: block;
        line-height: 56px;
        padding: 0 12px;
        text-decoration: none;
        width: 165px;
      }

        tocnav > ul > li:hover {
          background-color: #F2FFF2;
        }

        tocnav > ul > li:hover > a {
          color: #000000;
        }

        tocnav > ul > li:hover > a > .caret {
          border-top-color: #F2FFF2;
        }
		
		tocnav > ul > li > div ul > li:hover > a > .caret {
			border-left-color: #F2FFF2;
		}
      
      tocnav > ul > li > div,
	  tocnav > ul > li > div ul > li > div {
        background-color: #CFEFCF;
        border: 1px solid #404040;
        border-radius: 0 0 4px 4px;
        box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.055);
        display: none;
        margin: 0;
        opacity: 0;
        position: absolute;
        width: 300px;
        visibility: hidden;
  
        -webkit-transiton: opacity 0.2s;
        -moz-transition: opacity 0.2s;
        -ms-transition: opacity 0.2s;
        -o-transition: opacity 0.2s;
        -transition: opacity 0.2s;
      }
	  
	  	tocnav > ul > li > div ul > li > div {
			background-color: #CFEFCF;
			border-radius: 0 4px 4px 4px;
			box-shadow: inset 2px 0 5px rgba(0,0,0,.15);
			margin-top: -42px;
			right: -300px;
		}

        tocnav > ul > li:hover > div,
		tocnav > ul > li > div ul > li:hover > div {
          display: block;
          opacity: 1;
          visibility: visible;
        }

          tocnav > ul > li > div ul > li,
		  tocnav > ul > li > div ul > li > div ul > li {
            display: block;
			position: relative;
          }

            tocnav > ul > li > div ul > li > a,
			tocnav > ul > li > div ul > li > div ul > li > a {
              color: #000000;
              display: block;
              padding: 12px 24px;
              text-decoration: none;
            }

              tocnav > ul > li > div ul > li:hover > a {
                background-color: #F2FFF2;
              }.navi
{
  margin:           0px;
  color:            #202070;
  background-color: #CBDFDF;
  margin-left:      220px;
}

.navi ul
{
  margin: 0px;
  padding: 0px;
  list-style-type:  none;
  text-align: center;  
}

.navi ul li,

.nprev,
.nnext,
.xnprev,
.xnnext,
.nprevg,
.nnextg,
.xnprevg,
.xnnextg
{
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center top;
  margin: 5px;
  min-width: 35px;
  padding-top: 35px;
}

.navi a
{
  padding-top: 35px;
}

.nprev
{
  float: left;
  text-align: left;
  direction: ltr;
  background-image: url('../images/button_arl1.png');
}

.nnext
{
  float: right;
  text-align: right;
  direction: rtl;
  background-image: url('../images/button_arr1.png');
}

.nprevg
{
  float: left;
  text-align: left;
  direction: ltr;
  background-image: url('../images/button_arl3.png');
}

.nnextg
{
  float: right;
  text-align: right;
  direction: rtl;
  background-image: url('../images/button_arr3.png');
}

.xnprev
{
  float: left;
  text-align: left;
  direction: ltr;
  background-image: url('../images/button_xarl1.png');
}

.xnnext
{
  float: right;
  text-align: right;
  direction: rtl;
  background-image: url('../images/button_xarr1.png');
}

.xnprevg
{
  float: left;
  text-align: left;
  direction: ltr;
  background-image: url('../images/button_xarl3.png');
}

.xnnextg
{
  float: right;
  text-align: right;
  direction: rtl;
  background-image: url('../images/button_xarr3.png');
}
#content
{
  margin-left: 220px;
  padding: 10px;
  z-index: 10;
  margin-bottom: 20px;
  color: #000000;
  background-color: #FFFFFF;
}


#start
{
  margin-left: 220px;
  padding: 10px;
  z-index: 10;
  margin-bottom: 20px;


  color: #000000;
  background-color: #FFFFFF;
}

#content h1,
#content h2,
#content h3,
#content h4,
#content h5,
#content h6
{
  text-align: center;
}

#start h1,
#start h2,
#start h3,
#start h4,
#start h5,
#start h6
{
  text-align: left;
}

#content a,
#start a
{
  color: #483AA1;
}

#start a {
  text-decoration: underline;
}

#content a:hover
#start a:hover
{
  text-decoration: underline;
}

/*
 Spezielle td-Klassen fuer wtabular:

 Coding im split.pm_
         A -> keine Raender
         B -> Rand nur links
         C -> Rand nur rechts
         D -> Rand an beiden Seiten
*/

table.wtabular {
border-collapse: collapse;
table-layout: auto;
}

td.wtabular_A {
/* border : 1px solid; */
padding : 1px;
}

td.wtabular_B {
border: solid 0 #000000;
border-left-width:1px;
padding-left:0.5ex;
}

td.wtabular_C {
border: solid 0 #000000;
border-right-width:1px;
padding-right:0.5ex;
}

td.wtabular_D {
border: solid 0 #000000;
border-right-width:1px;
padding-right:0.5ex;
border-left-width:1px;
padding-left:0.5ex;
}

td.wtabular_AU {
border: solid 0 #000000;
border-bottom-width:1px;
padding-bottom:0.5ex;
}

td.wtabular_BU {
border: solid 0 #000000;
border-left-width:1px;
padding-left:0.5ex;
border-bottom-width:1px;
padding-bottom:0.5ex;
}

td.wtabular_CU {
border: solid 0 #000000;
border-right-width:1px;
padding-right:0.5ex;
border-bottom-width:1px;
padding-bottom:0.5ex;
}

td.wtabular_DU {
border: solid 0 #000000;
border-right-width:1px;
padding-right:0.5ex;
border-left-width:1px;
padding-left:0.5ex;
border-bottom-width:1px;
padding-bottom:0.5ex;
}
.info,
.hint,
.exmp,
.expe
.xreply
{
	padding:5px;
	margin: 10px 0px;
}

.hint
{
  margin-top: 0px;
  background-color: #E4E4E4;
	border: thin solid #C4C4C4;
}

.expe
{
  background-color: #DFDCBC;
	border: thin solid #CFC2A3;
}

.info
{
  background-color: #CBEFFF;
	border: thin solid #5680E4;
}

.exmp
{
  background-color: #FFDCEC;
	border: thin solid #EFC2C3;
}

.xreply
{
  padding: 5px;
  background-color: #E4FFF4;
  color: #000000;
  border-radius: 4px;
  box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.055);
  margin: 8px 12px 8px 12px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  font-size: 17px;
  border: thin solid #C4C4C4
}

